.WindowWrapper {
    display: flex;
    justify-content: space-between;
}

.Windows {
    padding-top: 16vh;
    margin: 0 4vw;
    
    > p {
        color: lightgray;
        font-weight: 300;
        margin: 0;
        margin-top: 10px;
        text-align: left;
    }
}
