.SlidableWindow {
    height: 300px;
    margin: 0;
    background-image: url("../../media/window.png");
    position: relative;

    > .ActualBlindPosition {
        background-image: url("../../media/blinds.png");
        background-size: cover;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        opacity: 40%;
        border: none;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
            height: 5px;
            width: 100%;
            background-color: white;
        }
    }
    > .MuiSlider-root {
        width: 85px;
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
        padding: 0;

        > .MuiSlider-rail {
            border-radius: 0;
            display: none;
            background-size: cover;
        }

        > .MuiSlider-track {
            background-image: url("../../media/blinds.png");
            background-size: cover;
            border-radius: 10px;
            opacity: 40%;
            border: none;
        }
        > .MuiSlider-thumb {
            width: 85px;
            border-radius: 0;
            height: 5px;
            background-color: white;

            
        }

        > .MuiSlider-mark {
            display: none;
        }

        .Mui-active {
            border: none;
            box-shadow: none;
          }
    }
}