.SlidableWindow {
    height: 45vh;
    margin: 0;
    position: relative;
    max-width: 350px;
    width: 21vw;
    
    > .WindowTemp {
        > .MuiSlider-root {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            background-color: rgba(0, 0, 0, 0);
            margin: 0;
            padding: 0;

            > .MuiSlider-rail {
                border-radius: 0;
                display: none;
                background-size: cover;
            }

            > .MuiSlider-track {
                background-image: url("../../media/blinds.png");
                background-size: cover;
                border-radius: 10px;
                opacity: 40%;
                border: none;
            }
            > .MuiSlider-thumb {
                width: 100%;
                border-radius: 0;
                height: 5px;
                background-color: white;
            }

            > .MuiSlider-mark {
                display: none;
            }

            .Mui-active {
                border: none;
                box-shadow: none;
            }
        }
    }
}