.Presets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 4vw;
    height: 19vh;
    justify-content: space-between;

    > .WindowWrapper {
        width: 92vw;
        height: 15vh;
        display: flex;
        justify-content: space-between;

        > .WindowTemp {
            max-width: 350px;
            width: 21vw;

            > .Window > .frameLayer {
                background-image: url("../../media/small_window.svg");
                background-size: cover;
                background-color: lightblue;
            }
        }
    }

    > .GuideText {
        margin: 0;
        color: white; 
        font-weight: 600;
    }
}