.App {
  text-align: center;
  background-image: url("./media/background.png");
  background-color: #444;
  height: 100vh;
  background-size: cover;
  width: 100%;

  > .WindowWrapper {
    padding-top: 150px;
  }
}