.WindowTemp {
    position: relative;
    height: 100%;
    width: 100%;


    > .Borders {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;

        > div {
            height: 5px;
            width: 100%;
            background-color: white;
        }
    }
    

    > .ActualBlindPosition {
        background-image: url("../../media/blinds.png");
        background-size: cover;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        border: none;
        border-radius: 0;
    }
    
}